.tab-bar {
    margin: 1.5rem 0;
    text-align: center;

    &--scrollable {
        overflow: auto;
        visibility: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;

        &:not(*:root) {
            visibility: visible;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        & > * {
            visibility: visible;
        }
    }
}
