.blog {
	padding: $section-padding;

	@include screen(tablet) {
		padding: $section-padding-tablet;
	}
	@include screen(desktop) {
		padding: $section-padding-desktop;
	}
}

.posts-view {
	display: flex;
	flex-flow: row wrap;
}